body {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  margin: 0px;
}
<<<<<<< HEAD

/* Have to add global styling because popup is dynamic */
.leaflet-zoom-animated {
  border-radius: 10px;
}
=======
>>>>>>> Moved leaflet styling to Pin.tsx from index.css
